<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1> ADMIN01 </h1><p>
	<h2> 총괄 관리자가 볼 수 있는 페이지</h2><p>
	<h2> 여기는 /amdin/admin01.html 입니다.</h2><p>
	<hr>
	<a href="/logout">로그아웃은 여기</a>
	
	<div sec:authorize="hasRole('USER')">Has USER ROLE</div>
	<div sec:authorize="hasRole('MANAGER')">Has MANAGER ROLE</div>
	<div sec:authorize="hasRole('ADMIN')">Has ADMIN ROLE</div>
	
	<div sec:authorize="isAuthenticated()">
		이 부분은 권한 인증을 받아야만 볼 수 있음.
	</div>
	
	
	Authenticated username : 
	<div sec:authentication = "principal.username"></div>
	Authenticated user roles : 
	<div sec:authentication = "principal.authorities"></div>
</body>
</html>