<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
   <th:block th:fragment="content">
      <h1 class="mt-4">추천도서 독후감 작성하기</h1>
      
      <form th:action="@{/board/register}" th:method="post">
         <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" placeholder="Enter Title">
         </div>
         <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" rows="5" name="content"></textarea>
         </div>
         <div class="form-group">
            <label>Writer Email</label>
            <input type="text" class="form-control" name="writerEmail" placeholder="Writer Email">
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </th:block>
</th:block>
      
</body>
</html>